/* #CTA-section {
  background: url(../../../assets/promo-background.png) no-repeat 50%;
  height: 200vh;
} */

.illu,
.main-message {
  display: grid;
  justify-content: center;
  align-content: center;
}
.main-message h2 {
  margin-top: 5rem;
}

.illu img {
  max-width: 300px;
}
.illu {
  padding: 20px;
}
.desc {
  align-self: center;
}
.btn {
  margin-bottom: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #3a3737;
  border-radius: 20px;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.17;
  background-color: #f26d4d;
  color: #3a3737;
  box-shadow: inset 3px 3px 0 0 #fff;
  transition: all 0.25s ease;
  white-space: pre-wrap;
  cursor: pointer;
  color: white;
}
.btn:hover {
  background-color: #fdc277;
  border: 2px solid #fdc277;
  box-shadow: inset 1px 1px 0 1px #fdc277;
}
.promo-hightlight {
  box-shadow: inset 0 -0.45em 0 0 #f26d4d;
  padding: 0 0.05em 0.05em;
}
.main-message {
  height: 400px;
}

@media (min-width: 1201px) {
  .cta-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
  }
  .main-message h2 {
    background-color: #9fd4b0;
    border-left: dashed 4px #f26d4d;
    padding: 80px 100px;
    border-radius: 0 20px 20px 0;
  }
}
@media (max-width: 1200px) {
  .cta-area {
    display: grid;
    justify-content: center;
    align-content: center;
  }
}

@media (max-width: 320px) {
  .desc {
    width: 310px;
    padding-left: 2rem;
  }
}
