.class-section {
  margin-bottom: 2rem;
  margin-top: 5rem;
}
.class-icon {
  height: 150px;
  width: 150px;
  margin: 10px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.class-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.class-icon img {
  max-height: 80px;
}
.class-icons h6 {
  text-align: center;
}
.class-section {
  padding: 5rem 0;
}
.bubble-bg {
  position: relative;
}
.bubble-1,
.bubble-2,
.bubble-3 {
  position: absolute;
  border-radius: 50%;
}
.bubble-1 {
  height: 280px;
  width: 280px;
  background-color: #b7e1dd;
  top: -50px;
  left: -200px;
}
.bubble-2 {
  top: 0;
  left: 70vw;
  width: 60px;
  height: 60px;
  background-color: #c1a4b8;
}
.bubble-3 {
  top: 35vw;
  left: 40vw;
  width: 150px;
  height: 150px;
  background-color: #f7b4c3;
}

.TV-area {
  display: grid;
  justify-content: center;
  align-content: center;
  max-height: 500px;
  width: 100%;
}

.tv-border {
  position: relative;
  height: 40vw;
  width: 65vw;
  border-radius: 2vw;
  background: #645430;
  background: -webkit-radial-gradient(#fdc177 55%, #ff7175);
  background: -o-radial-gradient(#fdc177 55%, #ff7175);
  background: -moz-radial-gradient(#fdc177 55%, #ff7175);
  background: radial-gradient(#fdc177 50%, #ff7175);
}

.screen-border {
  position: absolute;
  height: 38vw;
  width: 63vw;
  margin-top: 1.5%;
  margin-left: 1.5%;
  border-radius: 15px;
  background: rgb(234, 241, 241);
}

.screen-border-2 {
  position: absolute;
  height: 37vw;
  width: 51vw;
  margin-top: 2.3%;
  margin-left: 2.5%;
  border-radius: 9px;
  background: #000;
}

.channel-dial {
  position: absolute;
  height: 5vw;
  width: 5vw;
  margin-top: 10%;
  margin-left: 86%;
  border-radius: 50%;
  background: #304d4d;
}

.volume-dial {
  position: absolute;
  height: 5vw;
  width: 5vw;
  margin-top: 25%;
  margin-left: 86%;
  border-radius: 50%;
  background: #304d4d;
}

.socket-1 {
  position: absolute;
  height: 1.5vw;
  width: 1.5vw;
  margin-top: 40%;
  margin-left: 82.5%;
  border-radius: 50%;
  background: #252525;
}

.socket-2 {
  position: absolute;
  height: 1.5vw;
  width: 1.5vw;
  margin-top: 40%;
  margin-left: 88.5%;
  border-radius: 50%;
  background: #252525;
}

.socket-3 {
  position: absolute;
  height: 1.5vw;
  width: 1.5vw;
  margin-top: 40%;
  margin-left: 94.5%;
  border-radius: 50%;
  background: #252525;
}

.speaker {
  position: absolute;
  height: 0.5vw;
  width: 7vw;
  margin-top: 46%;
  margin-left: 84%;
  border-radius: 50%;
  background: #252525;
}

.speaker-2 {
  position: absolute;
  height: 0.5vw;
  width: 7vw;
  margin-top: 48%;
  margin-left: 84%;
  border-radius: 50%;
  background: #252525;
}

.speaker-3 {
  position: absolute;
  height: 0.5vw;
  width: 7vw;
  margin-top: 50%;
  margin-left: 84%;
  border-radius: 50%;
  background: #252525;
}

.make {
  position: absolute;
  height: 0.5vw;
  width: 7vw;
  margin-top: 56%;
  margin-left: 84%;
  border-radius: 50%;
  background: #304d4d;
}

#tv-screen {
  position: absolute;
  background: #000;
  top: 8.1%;
  left: 5.5%;
  width: 72%;
  height: 84%;
  border-radius: 8px;
  display: grid;
  justify-content: center;
  align-content: center;
}

@media (min-width: 1201px) {
  .class-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .bubble-1,
  .bubble-2,
  .bubble-3 {
    transform: scale(2);
  }
  .class-icons {
    width: 40em;
  }
  .class-icon img {
    max-height: 150px;
  }
  .TV-area {
    margin: 25vh 0;
  }
}
