/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .post-detail-page {
    margin: 0.5rem;
  }
  .go-back {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .post-detail-page {
    margin: 1rem 5rem;
  }
}

.post-detail-page {
  display: grid;
  justify-content: center;
}
img {
  max-width: 800px;
}
.btn {
  height: 2rem;
  margin: 0 1rem 0 0;
  border: none;
  border-radius: 5px;
}
.post-detail-content {
  height: 100vh;
}
