.music-library {
  display: grid;
  justify-content: center;
}
/* .music {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.music-item {
  height: 300px;
} */

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.card-img {
  height: 200px;
}
